/* Base fonts */
@font-face {
  font-family: 'ApfelGrotezk-Regular';
  src: url('/fonts/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NHaasGroteskDSStd-55Rg';
  src: url('/fonts/NHaasGroteskDSStd-55Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Category fonts */
@font-face {
  font-family: 'DearCamille Vector';
  src: url('/fonts/style/DearCamille Vector.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HandAndHeart-Script';
  src: url('/fonts/news/HandAndHeart-Script.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tarot';
  src: url('/fonts/fiction/Tarot-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheFoxDen';
  src: url('/fonts/review/TheFoxDen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'irishand-regular';
  src: url('/fonts/culture/irishand-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheStockholmFont';
  src: url('../fonts/TheStockholmFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 