.tag {
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: rotate(-20deg);
}

.tagImage {
  max-width: 80px;
  object-fit: contain;
}

.text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: currentColor;
  pointer-events: none;
} 